@import './assets/fonts/noto-sans.css';
@import "tailwindcss";

@theme {
    --color-orange: #F0870A;
    --color-mustard: #F0BE37;

    --font-noto-sans: 'Noto Sans', "sans-serif"
}
@layer base {
    body {
        @apply max-w-7xl font-noto-sans m-auto max-[850px]:bg-linear-to-b max-[850px]:from-50% max-[850px]:to-mustard
    }
}

@layer components {
    #root {
        @apply min-h-dvh grid grid-rows-[auto_1fr]
    }
}